@import 'variables';
$logoColour: $white;
$headerColour:  rgba(86,83,76,0.53);
$headingColour: $fuscousGray;
$linkColour: $white;
$headingDescriptionColour: #b6967d;
$headerButtonColour: #85827d; 
$centerShadow: rgba(86,83,76,0.14);
$priceColour: #dfc691;
$priceDescriptionColour: #c2beba;
$cutawayBackground: #d9d6c7;
$cutawayBackgroundBackground: #c0bcaf;
$cutawayFont: #56534c;