@import 'variables';

$logoColour: $white;
$headerColour:  rgba(86,83,76,0.53);
$headingColour: $fuscousGray;
$linkColour: $white;
$headingDescriptionColour: $mongoose;
$headerButtonColour: $naturalGray; 
$centerShadow: rgba(86,83,76,0.14);
$priceColour: $calico;
$priceDescriptionColour: $cottonSeed;
$cutawayBackground: $moonMist;
$cutawayBackgroundBackground: $tea;
$cutawayFont: $fuscousGray;
$whiteCorner: $alabaster;
$chefSideColor: $timberwolf; 