$white: #fff;
$fuscousGray: #56534c; 
$mongoose: #b6967d;
$naturalGray: #85827d;
$calico: #dfc691;
$cottonSeed: #c2beba;
$moonMist: #d9d6c7;
$tea: #c0bcaf;
$alabaster: #fbfbfb;
$timberwolf: #d7d5ca;
$cottonSeed : #b6b5b2;